<!DOCTYPE html>
<html lang='en'>
    
<head>
    <h1>The Dojo Message Board</h1>
    <form action='/message/new' value='' >
       Name <input type="text" name="name">
       Comment <input type="text" name="comment">
        <input type="submit" value="value here">Post Message
    </form>
<!-- Get the post message stuff processed  -->

</head>
<body>
    
    
</body>
</html>

