<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Platypus Dashboard</title>
</head>
<body>
    <h1>Welcome to Platypus Landia</h1>

    <label> Enter Name:
        <input type="text" name="name" />
    </label>
    <label> Enter Location:
        <input type="text" name="quote" />
    </label>



</body>
</html>

