<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>QuotingDojo Main</title>
</head>
<body>
<h1>Here are the awesome quotes!</h1>

<% for(var x in users) { %>
<h3>Name: <%= users[x].name  %></h3>
<h4>Quote: <%= users[x].quote %></h4>
<h3>Date: <%= users[x].date %></h3>
<% } %>
    


</body>
</html>
